In [33]:
import pandas as pd
import datetime

##### create a variable with dates, and from that extract the weekday
##### I create a list of dates with 20 days difference from today
##### and then transform it into a datafame

In [34]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2019-09-29 22:41:18.760025
1  2019-09-28 22:41:18.760025
2  2019-09-27 22:41:18.760025
3  2019-09-26 22:41:18.760025
4  2019-09-25 22:41:18.760025
5  2019-09-24 22:41:18.760025
6  2019-09-23 22:41:18.760025
7  2019-09-22 22:41:18.760025
8  2019-09-21 22:41:18.760025
9  2019-09-20 22:41:18.760025
10 2019-09-19 22:41:18.760025
11 2019-09-18 22:41:18.760025
12 2019-09-17 22:41:18.760025
13 2019-09-16 22:41:18.760025
14 2019-09-15 22:41:18.760025
15 2019-09-14 22:41:18.760025
16 2019-09-13 22:41:18.760025
17 2019-09-12 22:41:18.760025
18 2019-09-11 22:41:18.760025
19 2019-09-10 22:41:18.760025

###### extract the week day name

In [35]:
df['day_of_week'] = df['day'].dt.weekday_name
df.head()

                         day day_of_week
0 2019-09-29 22:41:18.760025      Sunday
1 2019-09-28 22:41:18.760025    Saturday
2 2019-09-27 22:41:18.760025      Friday
3 2019-09-26 22:41:18.760025    Thursday
4 2019-09-25 22:41:18.760025   Wednesday

###### Engineer categorical variable by ordinal number replacement

In [36]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2019-09-29 22:41:18.760025      Sunday            7
1  2019-09-28 22:41:18.760025    Saturday            6
2  2019-09-27 22:41:18.760025      Friday            5
3  2019-09-26 22:41:18.760025    Thursday            4
4  2019-09-25 22:41:18.760025   Wednesday            3
5  2019-09-24 22:41:18.760025     Tuesday            2
6  2019-09-23 22:41:18.760025      Monday            1
7  2019-09-22 22:41:18.760025      Sunday            7
8  2019-09-21 22:41:18.760025    Saturday            6
9  2019-09-20 22:41:18.760025      Friday            5
10 2019-09-19 22:41:18.760025    Thursday            4
11 2019-09-18 22:41:18.760025   Wednesday            3
12 2019-09-17 22:41:18.760025     Tuesday            2
13 2019-09-16 22:41:18.760025      Monday            1
14 2019-09-15 22:41:18.760025      Sunday            7
15 2019-09-14 22:41:18.760025    Saturday            6
16 2019-09-13 22:41:18.760025      Friday            5
17 2019-09-12 22:41:18.760025    Thursday            4
18 2019-09-11 22:41:18.760025   Wednesday            3
19 2019-09-10 22:41:18.760025     Tuesday            2

### And now let's replace each label in X2 by its count

### first we make a dictionary that maps each label to the counts

In [32]:
df_frequency_map = df.X2.value_counts()
df_frequency_map.head(100)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
h        6
at       6
an       5
al       5
q        5
p        4
av       4
ah       4
au       3
o        1
c        1
ar       1
j        1
af       1
l        1
am       1
aa       1
Name: X2, dtype: int64